.h4{
    padding-top: 20px;
    padding-left:20px;
    padding-bottom:20px;
}
.details{
    /* padding-top: 10px; */
    padding-left:30px;
    color:black
    /* padding-bottom:10px; */
}
.detailshead{
padding:30px
}
